<!DOCTYPE html>
<html>
  <head>
    <title>{{projectname}}</title>
      <meta name="author" content="Federico Verra, Federico Raso">
      <link rel="icon" type="image/x-icon" href="/data/favicon.ico" sizes="16x16">
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <main>
      {{{body}}}
  </main>

</html>
