<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <script src = "/javascripts/Navbar.js"></script>
    <div class="container-fluid">

            <a class="navbar-brand d-flex align-items-center" title="Filmoteca" href="/">
                <img itemprop="image" src="/data/logo.png"
                     alt="main logo" class="rounded" style="height: 50px;">
                <span class="ms-2 fs-3" itemprop="name">{{projectname}}</span>
            </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <form class="d-flex ms-auto">
                <input class="form-control me-2" type="text" placeholder="Search" id="search_input">
                <button class="btn btn-primary" type="button" id="search_btn">Search</button>
            </form>
        </div>
    </div>
</nav>
