<div class="container my-4">

    <a href="/film" class="text-decoration-none">
        <div class="content-box mt-3 text-dark">
            <img src="https://a.ltrbxd.com/resized/film-poster/2/7/7/0/6/4/277064-barbie-0-230-0-345-crop.jpg?v=1b83dc7a71" alt="Poster Film">
            <div class="content-info">
                <h2>Barbie</h2>
                <div class="date">Data di uscita: 21 luglio 2023</div>
                <p>Un film che esplora il fantastico mondo di Barbie con avventure, umorismo e tanto rosa!</p>
            </div>
        </div>
    </a>

    <a href="/film" class="text-decoration-none">
        <div class="content-box mt-3 text-dark">
            <img src="https://a.ltrbxd.com/resized/film-poster/2/7/7/0/6/4/277064-barbie-0-230-0-345-crop.jpg?v=1b83dc7a71" alt="Poster Film">
            <div class="content-info">
                <h2>Barbie</h2>
                <div class="date">Data di uscita: 21 luglio 2023</div>
                <p>Un film che esplora il fantastico mondo di Barbie con avventure, umorismo e tanto rosa!</p>
            </div>
        </div>
    </a>

    <a href="/film" class="text-decoration-none">
        <div class="content-box mt-3 text-dark">
            <img src="https://a.ltrbxd.com/resized/film-poster/2/7/7/0/6/4/277064-barbie-0-230-0-345-crop.jpg?v=1b83dc7a71" alt="Poster Film">
            <div class="content-info">
                <h2>Barbie</h2>
                <div class="date">Data di uscita: 21 luglio 2023</div>
                <p>Un film che esplora il fantastico mondo di Barbie con avventure, umorismo e tanto rosa!</p>
            </div>
        </div>
    </a>

    <a href="/film" class="text-decoration-none">
        <div class="content-box mt-3 text-dark">
            <img src="https://a.ltrbxd.com/resized/film-poster/2/7/7/0/6/4/277064-barbie-0-230-0-345-crop.jpg?v=1b83dc7a71" alt="Poster Film">
            <div class="content-info">
                <h2>Barbie</h2>
                <div class="date">Data di uscita: 21 luglio 2023</div>
                <p>Un film che esplora il fantastico mondo di Barbie con avventure, umorismo e tanto rosa!</p>
            </div>
        </div>
    </a>

    <a href="/film" class="text-decoration-none">
        <div class="content-box mt-3 text-dark">
            <img src="https://a.ltrbxd.com/resized/film-poster/2/7/7/0/6/4/277064-barbie-0-230-0-345-crop.jpg?v=1b83dc7a71" alt="Poster Film">
            <div class="content-info">
                <h2>Barbie</h2>
                <div class="date">Data di uscita: 21 luglio 2023</div>
                <p>Un film che esplora il fantastico mondo di Barbie con avventure, umorismo e tanto rosa!</p>
            </div>
        </div>
    </a>
</div>
